*bad
build/
*.db
dist/
.DS_Store
*.egg-info
.env*
.git/
*.ipynb
.ipynb_checkpoints/
ipynb_files/
*log
mydb/
out*
*png
__pycache__
__pycache__/
_pycache__/
*.py[oc]
.pytest_cache/
.python-version
results/
.ruff_cache/
*.swp
test_results.log
*tgz
typescript*
uv.lock
.venv
.venv*
venv*
.vscode/
wheels/

