__pycache__/
*bad
*.db
.DS_Store
*.egg-info
*.py[oc]
*.ipynb
*log
*png
*swp
*tgz
.env*
.ipynb_checkpoints/
.pytest_cache/
.python-version
.ruff_cache/
.venv
.vscode/
build/
dist/
ipynb_files/
mydb/
out*
wheels/
